<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <!-- Bootstrap CSS and JS -->
    {{ template "js" . }} <!-- This is the template for the JavaScript and CSS files. -->
</head>

<body>
    <!-- Navbar -->
    {{ template "navbar" . }}

    <!-- Template Body -->
    {{ template "content" . }}

    <!-- Footer -->
    <footer class="bg-dark text-white text-center p-3">
        <p>Copyright &copy; 2024 Woodworking Planes</p>
    </footer>
</body>
</html>